<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../css/main.css" />
		<noscript><link rel="stylesheet" href="../../css/noscript.css" /></noscript>
</head>
<body>
    <!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">DevC Buea</a></h1>
					<p>A simple Messenger Bot<br />
					Brought to by Group 2 Team <a href="https://web.facebook.com/Devcmessengerbot-349838032727103/">Connect on Facebook</a></p>
					<ul class="actions">
						<li><a href="#one" class="button icon solid fa-chevron-down scrolly">Learn More</a></li>
					</ul>
				</div>
				<div class="image phone"><div class="inner"><img src="images/screen.jpg" alt="" /></div></div>
			</header>
    <!-- Load Facebook SDK for JavaScript -->
   <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         xfbml            : true,
         version          : 'v9.0'
       });
     };

     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>

   <!-- Your Chat Plugin code -->
   <div class="fb-customerchat"
     attribution="setup_tool"
     page_id="349838032727103"
    theme_color="#6699cc"
    logged_in_greeting="Hello I am Deve! Nice to see you! How may I assist? "
    logged_out_greeting="Hello I am Deve! Nice to see you! How may I assist? ">
   </div>
</body>
</html>